---
import MainLayout from "../layouts/MainLayout.astro";
import Naturalform from "../components/Naturalform.astro";
---
<MainLayout title="Kayak Bar">
    <main class="">
        <div class="relative h-full md:h-[29rem] overflow-hidden lg:-mx-10">
            <h1 class="absolute bottom-0 left-0 mb-4 ml-10 text-white text-6xl md:text-5xl lg:text-8xl md:pl-44">Om Kayak bar</h1>
            <img class="w-full h-full  object-cover " src="kayak.png" alt="">
        </div>
        <div class="px-8 relative md:pl-44">
            <div>
                          <p class="text-tekst-primary-default md:w-5/12 lg:w-5/12 pt-6 lg:pt-6">
                Vi ønsker at gøre en forskel for København, vi bidrager til det Københavnske kulturliv og vi er et sted med plads til forskelligheder. Vi tænker på miljøet, har fokus på bæredygtighed og passer på Københavns fantastiske havn. Vi opfordrer alle der booker en kajak at samle affald op fra havnen.
                
            </p>
			<p class="text-tekst-primary-default pt-6">
				Velkommen til Kayak Bar – hvor historie, vand og kultur forenes på smukkeste vis.
			</p>
            </div>
        

            <div class="parallaxcontainermedflereelementer -mt-64 mb-48 md:mb-0 md:-mt-52">
				<div class="flex justify-end ">
					<img class="py-20 lg:pr-28 lg:w-5/12 e" src="om_2.png" alt="">
				</div>
                <div class="e2 md:-mt-96 md:mb-64">
                    <h2 class="text-tekst-primary-default text-6xl lg:text-8xl">Hvem er vi</h2>
                    <div class="text-tekst-primary-default">
                     <p class="lg:w-5/12 pt-6">Vi ligger i hjertet af København og hele området er fredet. De historiske omgivelser giver stedet et helt særligt præg – en personlighed, der skal opleves! Vores lokaler ligger lige ned til vandet, vi har palmer – og flydende pontoner helt tæt på vandet. </p>
                     <p class="lg:w-5/12 pt-6">Vi er en restaurant, cafe, en bar, et samlingspunkt og et spillested – og en masse andet. Vi afholder et bredt spekter af arrangementer: koncerter, udstillinger, pladereleases, firmaarrangementer, bryllupper og andre fester.</p>
                    </div>                    
                </div>
            </div>


            
 
 			</div>
                           <img class="py-20 px-8 lg:px-64 md:py-40" src="line.svg" alt="">



            <div class="relative">
                 <div class="absolute inset-0 -z-10 w-screen">
                 <!-- Mobil palmer -->
                 <img class="w-fit object-cover -ml-0 -mt-52 block md:hidden" src="palmtree_1_mobil.svg" alt="">
                 <!-- Desktop palmer -->
                 <img class="hidden lg:block md:-ml-0 md:-mt-32" src="palmtrees_1.svg" alt="">
             </div>
                 <div class="px-7 md:px-0 md:ml-96">
                         <h2 class="text-tekst-primary-default text-6xl md:text-8xl">Ambition</h2>
                         <div class="text-tekst-primary-default">
                             <p class="md:w-6/12 pt-6">Ambitionen med stedet er at skabe et rum, hvor mennesker samles og mødes på tværs af ambitioner, drømme, overbevisninger, job og civilstand. </p>
                             <p class="md:w-6/12 pt-6">Mennesker i alle aldre og med forskellige baggrunde samles på Kayak Bar – til koncerter, firmafrokosten, den uformelle fyraftensøl, eller noget helt andet. Her finder du altid en tilbagelænet- og god stemning. </p>
                             <p class="md:w-6/12 pt-6">Vores stamkunder arbejder på Christiansborg, står i lære som blikkenslager eller langt hjemmefra som turist i København, og vi elsker det.</p>
                         </div> 
                </div>                
       <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">



         <section class="bg-secondary-100 text-primary-100 h-[400vh] relative -mt-40 -mb-40 md:-mt-20 md:mb-14 md:ml-96" id="horisontalscrollsection">
             <ul id="horisontalliste" class="list-none flex sticky top-0">
                 <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
                     <article>
                                 <div class="relative z-10 text-tekst-primary-default px-7 md:px-0">
                                     <h2 class="text-6xl lg:text-8xl">Fællesskab</h2>
                                     <p class="lg:w-5/12  pt-6">Vi har fokus på genbrug og bæredygtighed og vores omgivelser bærer præg af det: Kayak Bar er et rustikt og skævt sted med bænke bygget af europaller og andre lidt pudsige møbler.</p>
                                     <p class="lg:w-5/12  pt-6">Når der er tryk på – og det er der heldigvis rigtig tit – beder vi jer derfor om at give en hånd med. For eksempel ved, at du som restaurantgæst selv henter din mad, når den er klar. </p>
                                     <p class="lg:w-5/12  pt-6">Og frem for alt: Pas godt på vandet! Sørg for at cigaretskodder og andet affald havner i askebægere og skraldespande og ikke i vores smukke kanal – så er det rarere for os alle sammen at være her.</p>
                                 </div>    
                     </article>
                 </li>
                 <li class="flex h-[100vh] w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
                     <article>
                         <div class="relative z-10 text-tekst-primary-default px-7 md:px-0">
                             <h2 class="text-6xl md:text-8xl md:w-6/12">Social ansvarlighed og bæredygtighed</h2>
                             <p class="lg:w-5/12  pt-6">Vi fokuserer på genbrug og bæredygtighed, hvilket vores omgivelser afspejler: Kayak Bar er rustik med bænke af europaller og andre unikke møbler.</p>
                             <p class="lg:w-5/12  pt-6"> Når der er travlt – hvilket der ofte er – beder vi jer hjælpe til, f.eks. ved at hente din mad selv. Og husk: Pas godt på vandet! Smid cigaretskodder og affald i askebægre og skraldespande, ikke i kanalen. </p>
                             <p class="lg:w-5/12  pt-6">Kayak Bar er fødestedet for GreenKayak, et initiativ for at reducere affald i havnen. Siden 2017 har vi samlet over 80.000 kg skrald fra kajakker.</p>
                         </div>   
                     </article>
                 </li>
             </ul>
         </section>






            <img class="py-20 px-8 lg:px-64 lg:py-40 " src="line.svg" alt="">
            <div class="text-tekst-primary-default md:pl-44 px-7 md:px-0">
                <h2 class="text-6xl lg:text-8xl">Kontakt os</h2>
                <p class=" pt-6">Har du spørgsmål til os har mulighed for at kontakte os her!</p>
            </div>
        </div>


		<div class="mb-20 md:mb-32">
			<Naturalform></Naturalform>
		</div>
    </main>
</MainLayout>

<style>

</style>

<script>
        import {animate, inView, scroll} from "motion";

   const sektion1fadein = document.querySelector("#sektion1");
	inView(sektion1fadein, () => {
		sektion1fadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});	
   
// parallax//
        document.querySelectorAll(".parallaxcontainermedflereelementer").forEach(( parallaxcontainer ) => {
        const elementderskalparallaxes2 = parallaxcontainer.querySelector(".e");
        scroll(animate(elementderskalparallaxes2, { y: [ 250, 700] }), { target: elementderskalparallaxes2 });
        });

        document.querySelectorAll(".parallaxcontainermedflereelementer").forEach(( parallaxcontainer ) => {
        const elementderskalparallaxes2 = parallaxcontainer.querySelector(".e2");
        scroll(animate(elementderskalparallaxes2, { y: [ 200, 700] }), { target: elementderskalparallaxes2 });
        });


 // horizontal
            const items = document.querySelectorAll("#horisontalliste li");
     scroll(
         animate("#horisontalliste", {
             transform: ["none", `translateX(-${items.length - 1}00vw)`]
         }),
         { target: document.querySelector("#horisontalscrollsection") }
     ); 
</script>
