---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Book bord på Kayak Bar - Side 4, Klokkeslæt">
    <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-3 text-center">Book bord på Kayak Bar</h2>
</MainLayout>