---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---
<MainLayout title="Book bord på Kayak Bar - Side 3, Dato">
    <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-10 text-center mt-10">Book bord på Kayak Bar</h2>
    <section class="bg-surface-formular mb-10">
        <div class="p-8">
    <Link variant="primary" size="small" href="/bookingformular2" class="">Tilbage</Link>
    </div>
    <div class="grid place-items-center">
    <img src="datoikonermobil.svg" alt="datoikoner_mobil" class="block lg:hidden">
    <img src="datoikoner.svg" alt="datoikoner_desktop" class="hidden lg:block">
    </div>
     <img class="py-5 px-8 lg:px-64 lg:py-30" src="line.svg" alt="">
        <h3 class="text-5xl lg:text-5xl text-tekst-tertiary-default font-semibold text-center pb-10">Vælg dato</h3>
    <article class="flex justify-center mb-10">
<div class="bg-surface-formularknap rounded-lg shadow p-4 w-96 h-[34rem]">
    <div class="flex justify-between items-center mb-4">
        <button class="bg-knap-primary-default hover:bg-knap-primary-hover rounded-full text-surface-highlight-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div class="text-lg font-semibold text-tekst-tertiary-darker">Maj 2024</div>
        <button class="bg-knap-primary-default hover:bg-knap-primary-hover rounded-full text-surface-highlight-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
    <div class="grid grid-cols-7 gap-2 text-center">
        <div class="text-xs font-bold text-tekst-tertiary-darker">Sø</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">Ma</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">Ti</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">On</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">To</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">Fr</div>
        <div class="text-xs font-bold text-tekst-tertiary-darker">Lø</div>
        
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">1</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">2</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">3</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">4</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">5</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">6</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">7</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">8</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">9</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">10</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">11</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">12</div>
        <div class="p-2 rounded-lg bg-knap-primary-pressed text-surface-highlight-default">13</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">14</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">15</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">16</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">17</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">18</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">19</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">20</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">21</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">22</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">23</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">24</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">25</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">26</div>
        <div class="p-2 rounded-lg bg-knap-primary-default hover:bg-knap-primary-hover text-surface-highlight-default">27</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">28</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">29</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">30</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">31</div>
    </div>
    <div class="grid gap-2 mt-8">
     <div class="p-2 rounded-lg bg-knap-primary-pressed text-surface-highlight-default">Valgt dato</div>
      <div class="p-2 rounded-lg bg-knap-primary-default text-surface-highlight-default">Ledige tider</div>
        <div class="p-2 rounded-lg bg-knap-primary-disabled text-surface-highlight-default">Ingen ledige tider</div>
        </div>
</div>
</article>
<div class="flex justify-center pb-10">
<Link variant="secondary" size="medium" href="/bookingformular4" class="">Næste side</Link>
</div>

</section>
</MainLayout>