---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---
<MainLayout title="Book bord på Kayak Bar - Side 6, Booking bekræftelse">
    <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-10 text-center mt-10">Tak for din booking!</h2>
    <section class="bg-surface-formular mb-10 pb-5">
        <div class="p-8">
        <h3 class="text-4xl lg:text-5xl text-tekst-tertiary-default font-semibold text-center pb-5 lg:pt-10 mb-5">Vi glæder os til at byde dig velkommen på Kayak Bar!</h3>
        <div class="text-tekst-primary-darker lg:pt-10 mb-10 lg:mb-16 text-xl lg:text-2xl lg:pl-[12.5rem]">
        <p class="mb-4">Du vil modtage en e-mail med din booking bekræftelse snarest muligt.</p>
        <p>Hvis du har yderligerre spørgsmål bedes du kontakte os på info@kayakbar.dk</p>
        </div>
        <div class="flex justify-center pb-10">
<Link variant="secondary" size="medium" href="/" class="">Tilbage til forsiden</Link>
</div>
    </section>
</MainLayout>
