---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Navigationscard from "../components/Navigationscard.astro"
import Link from "../components/Link.astro";
---
<MainLayout title="Kayak Bar">
      <section>
        <article>
            <div>
                <img src="header-index.png" alt="Velkommen til Kayak Bar">
            </div>
        </article>
    </section>
    <section>
        <article>
            <h1 class="text-tekst-primary-default">Velkommen til Kayak Bar!</h1>
            <div class="text-tekst-primary-darker">
            <p>Kayak Bar er ikke bare en restaurant, café, bar og et spillested - det er også en vigtig del af den lokale kultur.</p>
            <p>Som skaberne bag det årlige "Lucia i Kajak" optog, er vi udover dette også værter for en række andre spændende begivenheder.</p>
            <p>Fra koncerter og udstillinger til pladereleases, firmaarrangementer og festlige bryllupper - vi har det hele!</p>
        </div>
        </article>
        <Button variant="secondary" size="medium" class="">Læs mere om Kayak Bar!</Button>
        <img src="velkommen_index.png" alt="Stemningen på Kayak Bar">
    </section>
    <section>
        <article>
            <h2 class="text-tekst-primary-default">Vi ses på Kayak Bar!</h2>
            <div class="text-tekst-primary-darker">
            <p>Vores unikke lokation, omgivet af fredede historiske omgivelser, tilfører en enestående personlighed, som skal opleves!</p>
            <p>Vores lokaler, der ligger ved vandkanten, skaber den perfekte kulisse med palmer og flydende pontoner tæt på kajakvendet.</p>
            <p>Book dit bord på Kayak Bar nu!</p>
            </div>
            <Button variant="secondary" size="large" class="">Book bord!</Button>
        </article>
    </section>
    <section>
        <article>
            <h2 class="text-tekst-primary-default">Vores menu</h2>
            <div class="text-tekst-primary-darker">
            <p>Kayak Bar er et uformelt spisested, og vores menu er alsidig med alt fra Moules Frites til lækre skaldyrs- og kødretter samt vegetariske valgmuligheder og søde desserter.</p>
            <p>Tjek vores menukort her!</p>
            </div>
            <Button variant="secondary" size="medium" class="">Se menuen her!</Button>
        </article>
        <img src="mad1_index.png" alt="Salat">
        <img src="mad2_index.png" alt="Drinks">
        <img src="mad3_index.png" alt="Morgenmad">
    </section>
     <section>
        <article>
            <h2 class="text-tekst-primary-default">Vi tilbyder også</h2>
            <div class="text-tekst-primary-darker">
            <p>Vores mission er at skabe et rum, hvor mennesker samles på tværs af ambitioner, drømme, overbevisninger, job og civilstand.</p>
            <p>Kayak Bar tilbyder en bred vifte af events, mulighed for firmaarrangementer, private selskaber og derudover kajakudlejning.</p>
            <p>Udforsk de forskellige muligheder nedenfor, og planlæg et besøg skræddersyet præcis efter jeres behov!</p>
            </div>
        </article>
<Navigationscard></Navigationscard>
</section>
</MainLayout>