---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Navigationscard from "../components/Navigationscard.astro"
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
---
<Header></Header>
<section>
    <article>
            <!-- Mobil version -->
            <img src="header-index-mobil.png" alt="Velkommen til Kayak Bar" class="block lg:hidden">
            <!-- Desktop version -->
            <img src="header-index.png" alt="Velkommen til Kayak Bar" class="hidden lg:block">
            <!-- Logo -->
            <div id="logo">
            <img src="hero_logo_mobil.svg" alt="Kayak Bar Logo Mobil" class="block lg:hidden  mt-[-30rem] ml-[3rem]">
           <img src="hero_logo_desktop.svg" alt="Kayak Bar Logo Desktop" class="hidden lg:block absolute lg:mt-[-24rem] lg:ml-[3rem]">
        </div>
        <div class="grid gap-4 pl-11 absolute mt-[1rem] lg:mt-[-19rem] lg:ml-[60rem]">
        <Link variant="secondary" size="medium" href="/bookingformular1" class="">Book bord her!</Link>
        <Link variant="secondary" size="medium" href="/menu" class="">Se menuen her</Link>
        </div>
    </article>
</section>
<MainLayout title="Kayak Bar">
    <main>
    <div class="px-8 relative lg:pl-44">
    <section id="velkommen">
        <div class="">
        <article class="mt-[18rem] lg:mt-10">
            <h1 class="text-tekst-primary-default text-6xl md:text-5xl lg:text-8xl md:w-5/12 lg:w-5/12 lg:pt-10 mb-3">Velkommen til Kayak Bar!</h1>
            <div class="text-tekst-primary-darker md:w-5/12 lg:w-5/12 lg:pt-10 mb-10 lg:mb-16">
            <p class="mb-4">Kayak Bar er ikke bare en restaurant, café, bar og et spillested - det er også en vigtig del af den lokale kultur.</p>
            <p class="mb-4">Som skaberne bag det årlige "Lucia i Kajak" optog, er vi udover dette også værter for en række andre spændende begivenheder.</p>
            <p>Fra koncerter og udstillinger til pladereleases, firmaarrangementer og festlige bryllupper - vi har det hele!</p>
        </div>
          <Link variant="secondary" size="medium" href="/om" class="">Læs mere om Kayak Bar!</Link>
        </article>
        <img src="velkommen_index.png" alt="Stemningen på Kayak Bar" class="billede mt-10 lg:mt-[-30rem] lg:ml-[40rem]">
        </div>
    </section>
     <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
    <section id="booking">
        <article>
            <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-3">Vi ses på Kayak Bar!</h2>
            <div class="text-tekst-primary-darker md:w-5/12 lg:w-5/12 lg:pt-10 lg:mb-20">
            <p class="mb-4">Vores unikke lokation, omgivet af fredede historiske omgivelser, tilfører en enestående personlighed, som skal opleves!</p>
            <p class="mb-4">Vores lokaler, der ligger ved vandkanten, skaber den perfekte kulisse med palmer og flydende pontoner tæt på kajakvendet.</p>
            <p class="mb-12">Book dit bord på Kayak Bar nu!</p>
            </div>
            <Link variant="secondary" size="large" href="/bookingformular1" class="">Book bord!</Link>
        </article>
    </section>
    <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
    <section id="menu">
        <article>
            <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-3">Vores menu</h2>
            <div class="text-tekst-primary-darker md:w-5/12 lg:w-5/12 lg:pt-10">
            <p class="mb-4">Kayak Bar er et uformelt spisested, og vores menu er alsidig med alt fra Moules Frites til lækre skaldyrs- og kødretter samt vegetariske valgmuligheder og søde desserter.</p>
            <p class="mb-10 lg:mb-16">Tjek vores menukort her!</p>
             <Link variant="secondary" size="medium" href="/menu" class="">Se menuen her!</Link>
            </div>
            
        </article>
    <div id="">
  <div class="w-full lg:max-w-[750px] mx-auto lg:-mt-16">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="lg:flex lg:items-center">
        <img src="mad1_index.png" alt="Salat" class="w-full mt-8">
      </div>
      <div class="space-y-8 mt-[2rem]">
        <img src="mad2_index.png" alt="Drinks" class="w-full mb-16">
        <img src="mad3_index.png" alt="Morgenmad" class="w-full">
      </div>
    </div>
  </div>
  </div>
        <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
    </section>
     <section>
        <article id="cardsection">
            <h2 class="text-tekst-primary-default text-6xl lg:text-8xl mb-3">Vi tilbyder også</h2>
            <div class="text-tekst-primary-darker md:w-5/12 lg:w-5/12 lg:pt-10">
            <p class="mb-4">Vores mission er at skabe et rum, hvor mennesker samles på tværs af ambitioner, drømme, overbevisninger, job og civilstand.</p>
            <p class="mb-4">Kayak Bar tilbyder en bred vifte af events, mulighed for firmaarrangementer, private selskaber og derudover kajakudlejning.</p>
            <p class="mb-4">Udforsk de forskellige muligheder nedenfor, og planlæg et besøg skræddersyet præcis efter jeres behov!</p>
            </div>
        </article>
        <div id="cards">
<Navigationscard></Navigationscard>
</div>
</section>
</div>
</main>
</MainLayout>
<Footer></Footer>
<script>
import { inView } from "motion";
   const logofadein = document.querySelector("#logo");
	inView(logofadein, () => {
		logofadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});	
   
    const velkommenfadein = document.querySelector("#velkommen");
	inView(velkommenfadein, () => {
		velkommenfadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");
	});	
    
    const booking = document.querySelector("#booking");
	inView(booking, () => {
		booking.classList.add("animate__animated", "animate__bounceInLeft", "animate__delay-0.5s");
	});	

     const menufadein = document.querySelector("#menu");
	inView(menufadein, () => {
		menufadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");
	});	

    const cardsectionfadein = document.querySelector("#cardsection");
	inView(cardsectionfadein, () => {
		cardsectionfadein.classList.add("animate__animated", "animate__fadeIn", "animate_delay-1s");
	});	

     const cardsbounce = document.querySelector("#cards");
	inView(cardsbounce, () => {
		cardsbounce.classList.add("animate__animated", "animate__bounceInRight", "animate__delay-0.5s");
	});	
</script>