---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Kayak Bar">
    <Button variant="primary" size="small">hej</Button>

        <Button variant="primary" size="medium">hej</Button>
    <h1>hej</h1>
</MainLayout>