---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Om">
    <section>
        <article>
            <div>
                <img src="header-om.png" alt="">
                <h1 class="font-['Londrina Solid']">Om Kayak Bar</h1>
            </div>
        </article>
    </section>
</MainLayout>