---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---
<MainLayout title="Om">
    <Header></Header>
    <section>
        <article>
            <div>
                <img src="header-om.png" alt="">
                <h1>Om Kayak Bar</h1>
            </div>
        </article>
    </section>
</MainLayout>