---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Menu">
    <section>
        <article>
            <div class="relative">
                <img src="hero-menu.png" alt="">
                <div class="absolute inset-0 bg-surface-overlay opacity-30"></div>
                <div class="absolute bottom-0 left-0">
                    <h1 class="text-tekst-secondary-default text-6xl sm:text-7xl md:text-8xl lg:text-9xl pl-14 md:pl-20 pb-6 md:pb-10">Vores menu</h1>
                </div>
            </div>
            <p class="font-light w-2/5">Kayak Bar er et uformelt spisested med aktivitet året rundt og noget for enhver smag, hvad enten det er hverdagsmiddag, teambuilding eller en festlig aften med venner og familie.<br><br>
                Vores menu inkluderer alt fra Moules Frites til skaldyrs- og kødretter, vegetariske valgmuligheder og lækre desserter.<br><br>
                Dyk ned i vores menu og drinkskort nedenfor!</p>
        </article>
    </section>
</MainLayout>