---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Om">
    <section>
        <article>
            <div>
                <img src="header-om.png" alt="">
                <h1>Om Kayak Bar</h1>
                <h2>Om Kayak Bar</h2>
                <h3>Om Kayak Bar</h3>
                <h4>Om Kayak Bar</h4>
                <p>Om Kayak Bar</p>
                <a href="">Om Kayak Bar</a>
            </div>
        </article>
    </section>
</MainLayout>