---
import MainLayout from "../layouts/MainLayout.astro";
import Badge from "../components/Badge.astro";
import MadCard from "../components/MadCard.astro";
import Link from "../components/Link.astro";
import DrikkeCard from "../components/DrikkeCard.astro";
---
<MainLayout title="Menu">
    <section class="mb-40 md:mb-20">
        <article>
            <div class="relative">
                <Badge></Badge>
                    <img src="/hero-menu-md.png" alt="" class="scale-200 md:scale-100">
                    <div class="absolute inset-0 bg-surface-overlay opacity-30 scale-200 md:scale-100"></div>
                    <div class="absolute bottom-0 left-0">
                        <h1 class="text-tekst-secondary-default text-6xl md:text-7xl lg:text-8xl ml-16 sm:ml-24 md:ml-32 lg:ml-40 -mb-12 sm:-mb-24 md:mb-8">Vores menu</h1>
                    </div>
            </div>
        </article>
    </section>
    <section class="mx-20 sm:mx-28 md:mx-36 lg:mx-44" id="menu">
        <article class="lg:mb-40">
            <p class="text-tekst-primary-darker text-base lg:text-lg md:w-3/4 xl:w-1/2 mb-20 md:mb-24">Kayak Bar er et uformelt spisested med aktivitet året rundt og noget for enhver smag, hvad enten det er hverdagsmiddag, teambuilding eller en festlig aften med venner og familie.<br><br>
                Vores menu inkluderer alt fra Moules Frites til skaldyrs- og kødretter, vegetariske valgmuligheder og lækre desserter.<br><br>
                Dyk ned i vores menu og drinkskort nedenfor!</p>
                <div class="grid place-items-center md:grid-cols-2 gap-20 mb-32 md:mb-44 cardelementerinview" id="kortcards">
                    <a href="#mad" class="place-self-start md:place-self-end cardelement1"><MadCard></MadCard></a>
                    <a href="#drikke" class="place-self-end md:place-self-start cardelement2"><DrikkeCard></DrikkeCard></a>
                </div>
        </article>
    </section>
    <img src="/line.svg" alt="" class="py-20 mx-16 sm:mx-28 md:mx-40 lg:mx-52 xl:mx-64">
    <section class="m-20 sm:m-36 md:m-44 lg:m-48 parallaxcontainermedflereelementer">
        <div class="relative">
            <div class="absolute inset-0 -z-10 w-screen">
                <!-- Mobil palmer -->
                <img class="w-fit object-cover -ml-10 -mt-52 block md:hidden" src="/palmtree_1_mobil.svg" alt="">
                <!-- Desktop palmer -->
                <img class="hidden md:block md:-ml-48 md:-mt-32" src="/palmtrees_1.svg" alt="">
            </div>
        </div>
        <article class="grid lg:grid-cols-2 gap-28 place-items-start mb-20 md:mb-28" id="mad">
            <div class="menuelement mb-56">
                <h2 class="text-tekst-primary-default text-6xl md:text-7xl lg:text-8xl mb-3">Mad</h2>
                <p class="text-tekst-primary-darker text-base lg:text-lg md:w-3/4 mb-10 sm:mb-12 md:mb-16">Maden på Kayak Bar byder på nøje udvalgte retter, lige fra friskfanget fisk og skaldyr til saftige bøffer og vegetariske delikatesser.<br><br>
                    Vi stræber efter at give vores gæster en kulinarisk oplevelse, hvor smag, kvalitet og kreativitet går hånd i hånd.<br><br>
                    Hver ret er nøje sammensat for at levere en gastronomisk rejse, der komplementerer vores maleriske atmosfære ved vandet!</p>
                    <Link>Book bord</Link>
                </div>
                <img src="/madkort.svg" alt="">
        </article>
        <div class="relative">
            <div class="absolute inset-0 -z-10 w-screen">
                <!-- Mobil palmer -->
                <img class="w-fit object-cover -ml-10 -mt-52 block md:hidden" src="/palmtree_1_mobil.svg" alt="">
                <!-- Desktop palmer -->
                <img class="hidden md:block md:-ml-48 md:-mt-32" src="/palmtrees_3.svg" alt="">
            </div>
        </div>
        <article class="grid lg:grid-cols-2 gap-28 place-items-start" id="drikke">
            <div class="menuelement2 mb-56">
                <h2 class="text-tekst-primary-default text-6xl md:text-7xl lg:text-8xl mb-3">Drikke</h2>
                <p class="text-tekst-primary-darker text-base lg:text-lg md:w-3/4 mb-10 sm:mb-12 md:mb-16">Vores bartendere har sammensat en række kreative cocktails, både klassiske og moderne, lavet med friske ingredienser og hjemmelavede sirupper.<br><br>
                    Derudover tilbyder vi et udvalg af lokale og internationale øl, nøje udvalgte vine samt kvalitetsspiritus.<br><br>
                    Så uanset om du er til en forfriskende, eksotisk drink efter en tur på kanalen eller en elegant cocktail til at kickstarte aftenen, har vi noget for enhver smag!</p>
                    <Link>Book bord</Link>
                </div>
                <img src="/drinkskort.svg" alt="">
        </article>
    </section>
</MainLayout>
<script>
    import {animate, inView, scroll} from "motion";

    const menufadein = document.querySelector("#menu");

	inView(menufadein, () => {
		menufadein.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});	

    const cardsectionind = document.querySelector("#cardsection");

    inView(cardsectionind, () => {
        cardsectionind.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
    });

    inView( ".cardelementerinview", () =>{
	animate( ".cardelement1", { x: [-2000, 0 ] }, { duration: 2 }) 
	animate( ".cardelement2", { x: [-1500, 0 ] }, { duration: 2 })
    return () => {
        animate( ".cardelement1", { x: [-2000, 0 ] }, { duration: 2 }) 
		animate( ".cardelement2", { x: [-1500, 0 ] }, { duration: 2 })
    }
    });
    
    document.querySelectorAll(".parallaxcontainermedflereelementer").forEach(( parallaxcontainer ) => {
        const elementderskalparallaxes2 = parallaxcontainer.querySelector(".menuelement");
        scroll(animate(elementderskalparallaxes2, { y: [ 250, 700] }), {
            target: elementderskalparallaxes2
        });
    });

        document.querySelectorAll(".parallaxcontainermedflereelementer").forEach(( parallaxcontainer ) => {
        const elementderskalparallaxes2 = parallaxcontainer.querySelector(".menuelement2");
        scroll(animate(elementderskalparallaxes2, { y: [ 200, 700] }), {
            target: elementderskalparallaxes2
        });
    });

</script>