---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import  Naturalform from "../components/Naturalform.astro";

---
<Header></Header>
<MainLayout title="Kayak Bar">
    <main class="">
        <div class="relative h-full lg:h-96 overflow-hidden lg:-mx-10 ">
            <h1 class="absolute bottom-0 left-0 mb-4 ml-10 text-white text-6xl md:text-5xl lg:text-8xl lg:pl-44">Om Kayak bar</h1>
            <img class="w-full h-full  object-cover " src="om_mobil.png" alt="">
        </div>
        <div class="px-8 relative lg:pl-44">
			<div id="sticky-text1" class="sticky-text1">
				<p class="text-tekst-primary-default md:w-5/12 lg:w-5/12 pt-6 lg:pt-10">
                Vi ønsker at gøre en forskel for København, vi bidrager til det Københavnske kulturliv og vi er et sted med plads til forskelligheder. Vi tænker på miljøet, har fokus på bæredygtighed og passer på Københavns fantastiske havn. Vi opfordrer alle der booker en kajak at samle affald op fra havnen.
                
            </p>
			<p class="text-tekst-primary-default md:w-5/12 lg:w-5/12 pt-6 ">
				Velkommen til Kayak Bar – hvor historie, vand og kultur forenes på smukkeste vis.
			</p>
			</div>


            <div class="">
				<div id="sticky-image" class="flex justify-end lg:pt-96 sticky-image">
					<img class="py-28 lg:py-16 lg:pr-28 lg:w-5/12" src="om_2.png" alt="">
				</div>

				<div class="text-tekst-primary-default sticky-text2 ">
					<h2 class="text-tekst-primary-default text-6xl lg:text-8xl">Ambition</h2>
					<p class="lg:w-5/12 pt-6">Ambitionen med stedet er at skabe et rum, hvor mennesker samles og mødes på tværs af ambitioner, drømme, overbevisninger, job og civilstand. </p>
                	<p class="lg:w-5/12 pt-6">Mennesker i alle aldre og med forskellige baggrunde samles på Kayak Bar – til koncerter, firmafrokosten, den uformelle fyraftensøl, eller noget helt andet. Her finder du altid en tilbagelænet- og god stemning. </p>
                	<p class="lg:w-5/12 pt-6">Vores stamkunder arbejder på Christiansborg, står i lære som blikkenslager eller langt hjemmefra som turist i København, og vi elsker det.</p>
           
				</div>
 			</div>

            <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
			<div>
				<h2 class="text-6xl lg:text-8xl">Plads til forskellighed</h2>
					<p class="lg:w-5/12  pt-6">
						Vores medarbejdere udgør en multikulturel gruppe, som vi har samlet med henblik på at opretholde vores ambition om at være et sted med personlighed, hvor enhver kan deltage og få en god oplevelse.
					</p>
			</div>
            <div class="relative">
                <div class="absolute inset-0 -z-10">
                    <img class="w-full h-full object-cover" src="palmtree_1_mobil.svg" alt="">
                </div>
                <div class="relative z-10 text-tekst-primary-default">
                    <h2 class="text-6xl lg:text-8xl">Fællesskab</h2>
                    <p class="lg:w-5/12  pt-6">Vi har fokus på genbrug og bæredygtighed og vores omgivelser bærer præg af det: Kayak Bar er et rustikt og skævt sted med bænke bygget af europaller og andre lidt pudsige møbler.</p>
                    <p class="lg:w-5/12  pt-6">Når der er tryk på – og det er der heldigvis rigtig tit – beder vi jer derfor om at give en hånd med. For eksempel ved, at du som restaurantgæst selv henter din mad, når den er klar. </p>
                    <p class="lg:w-5/12  pt-6">Og frem for alt: Pas godt på vandet! Sørg for at cigaretskodder og andet affald havner i askebægere og skraldespande og ikke i vores smukke kanal – så er det rarere for os alle sammen at være her.</p>
                </div>
            </div>
            <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
            <div class="text-tekst-primary-default">
                <h2 class="text-6xl lg:text-8xl">Kontakt os</h2>
                <p class=" pt-6">Har du spørgsmål til os har mulighed for at kontakte os her!</p>
            </div>
        </div>


		<div>
			<Naturalform></Naturalform>
		</div>
    </main>
</MainLayout>

<style>
    .sticky-image {
        position: sticky;
        top: -50%; /* Stick to the middle of the screen */
        transform: translateY(-10%); /* Adjust to vertically center the element */
        z-index: 10;
    }

    .sticky-text1 {
        position: sticky;
        top: 60%; /* Stick to the middle of the screen */
        transform: translateY(-10%); /* Adjust to vertically center the element */
        z-index: 10; /* Adjust z-index */
    }
</style>

<script>
    window.addEventListener('scroll', function() {
        var stickyText1 = document.getElementById('sticky-text1');
        var stickyImage = document.getElementById('sticky-image');
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;

        // Calculate the top position of the sticky image
        var imageTopPosition = stickyImage.getBoundingClientRect().top + scrollPosition;

        // If the top of the sticky text1 reaches or surpasses the top of the sticky image,
        // remove sticky behavior
        if (scrollPosition >= imageTopPosition) {
            stickyText1.style.position = 'static';
        } else {
            stickyText1.style.position = 'sticky';
            stickyText1.style.top = '60%'; // Adjust top position as needed
        }
    });
</script>
