---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Kayak Bar">
	<Header></Header>
	<main>
		<section>
					<img src="om_mobil.png" alt="">
		<h1>hej</h1>
		</section>

	</main>
</MainLayout>