---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Kayak Bar">
    <main>
        <div class="relative">
            <h1 class="absolute bottom-0 left-0 mb-4 ml-10 text-white text-5xl md:text-6xl">Om Kayak bar</h1>
            <img class="w-full" src="om_mobil.png" alt="">            
        </div>
		<div class="px-8">
			<p class="text-primary-default">
				Vi ønsker at gøre en forskel for København, vi bidrager til det Københavnske kulturliv og vi er et sted med plads til forskelligheder. Vi tænker på miljøet, har fokus på bæredygtighed og passer på Københavns fantastiske havn. Vi opfordrer alle der booker en kajak at samle affald op fra havnen.
				Velkommen til Kayak Bar – hvor historie, vand og kultur forenes på smukkeste vis.
			</p>

			<div>
				<img class="py-16" src="om_2.png" alt="">
				<h2 class="text-primary-default">Ambition</h2>
				<p>Ambitionen med stedet er at skabe et rum, hvor mennesker samles og mødes på tværs af ambitioner, drømme, overbevisninger, job og civilstand. </p>
				<p>Mennesker i alle aldre og med forskellige baggrunde samles på Kayak Bar – til koncerter,  firmafrokosten, den uformelle fyr-aftens-øl, eller noget helt andet. Her finder du altid en tilbagelænet- og god stemning. </p>
				<p>Vores stamkunder arbejder på Christiansborg, står i lære som blikkenslager eller langt hjemmefra som turist i København, og vi elsker det.</p>
			</div>

			<img class="py-20 px-8" src="line.svg" alt="">
			<div>
				<h2>Plads til forskellighed</h2>
				<p>Vores medarbejdere udgør en multikulturel gruppe, som vi har samlet med henblik på at opretholde vores ambition om at være et sted med personlighed, hvor enhver kan deltage og få en god oplevelse.</p>
				<div>
					<img class="pl-10 pr-2 py-10" src="om_3.png" alt="">
					<img class="pl-2 pr-10 " src="om_4.png" alt="">

				</div>
			</div>

			<div class="relative">

				<img class="w-full -mx-8 absolute" src="palmtree_1_mobil.svg " alt="">	
				<div class="">				
					<h2>Fællesskab</h2>
						<p>Vi har fokus på genbrug og bæredygtighed og vores omgivelser bærer præg af det: Kayak Bar er et rustikt og skævt sted med bænke bygget af europaller og andre lidt pudsige møbler.</p>
						<p>Når der er tryk på – og det er der heldigvis rigtig tit – beder vi jer derfor om at give en hånd med. For eksempel ved, at du som restaurantgæst selv henter din mad, når den er klar. </p>
						<p>Og frem for alt: Pas godt på vandet! Sørg for at cigaretskodder og andet affald havner i askebægere og skraldespande og ikke i vores smukke kanal – så er det rarere for os alle sammen at være her.</p>
					</div>	
		
			</div>
				<img class="py-20 px-8" src="line.svg" alt="">
			<div >
				<h2>Kontakt os</h2>
				<p>Har du spørgsmål til os har mulighed for at kontakte os her!</p>
			</div>
		</div>
		


    </main>
</MainLayout>