---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Kayak Bar">
	<Header></Header>
	<main>
			<h1>Om Kayak bar</h1>
		
	</main>
</MainLayout>