---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Kayak Bar">
    <main>
        <div class="relative">
            <h1 class="absolute bottom-0 left-0 mb-4 ml-10 text-white text-5xl md:text-6xl">Om Kayak bar</h1>
            <img class="w-full" src="om_mobil.png" alt="">            
        </div>
		<div class="px-8">
			<p class="text-primary-default">
				Vi ønsker at gøre en forskel for København, vi bidrager til det Københavnske kulturliv og vi er et sted med plads til forskelligheder. Vi tænker på miljøet, har fokus på bæredygtighed og passer på Københavns fantastiske havn. Vi opfordrer alle der booker en kajak at samle affald op fra havnen.
				Velkommen til Kayak Bar – hvor historie, vand og kultur forenes på smukkeste vis.
			</p>

			<div>
				<img class="" src="om_2.png" alt="">
				<h2 class="text-primary-default">Ambition</h2>
				<p>Ambitionen med stedet er at skabe et rum, hvor mennesker samles og mødes på tværs af ambitioner, drømme, overbevisninger, job og civilstand. </p>
				<p>Mennesker i alle aldre og med forskellige baggrunde samles på Kayak Bar – til koncerter,  firmafrokosten, den uformelle fyr-aftens-øl, eller noget helt andet. Her finder du altid en tilbagelænet- og god stemning. </p>
				<p>Vores stamkunder arbejder på Christiansborg, står i lære som blikkenslager eller langt hjemmefra som turist i København, og vi elsker det.</p>
			</div>

			<img class="py-10 px-10" src="line.svg" alt="">
		</div>


    </main>
</MainLayout>