---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kayak Bar">
    <main>
        <div class="relative h-11/12 lg:h-96 overflow-hidden">
            <h1 class="absolute bottom-0 left-0 mb-4 ml-10 text-white text-6xl md:text-5xl">Om Kayak bar</h1>
            <img class="w-full h-full object-cover" src="om_mobil.png" alt="">
        </div>
        <div class="px-8 relative">
            <p class="text-primary-default md:w-5/12 lg:w-5/12 ">
                Vi ønsker at gøre en forskel for København, vi bidrager til det Københavnske kulturliv og vi er et sted med plads til forskelligheder. Vi tænker på miljøet, har fokus på bæredygtighed og passer på Københavns fantastiske havn. Vi opfordrer alle der booker en kajak at samle affald op fra havnen.
                Velkommen til Kayak Bar – hvor historie, vand og kultur forenes på smukkeste vis.
            </p>

            <div>
				<div class="flex justify-end ">
					<img class="py-16 lg:pr-28 lg:w-5/12" src="om_2.png" alt="">
				</div>
                <h2 class="text-primary-default text-6xl lg:text-8xl">Ambition</h2>
				<div class="gap-4">
					  <p class="lg:w-5/12 ">Ambitionen med stedet er at skabe et rum, hvor mennesker samles og mødes på tværs af ambitioner, drømme, overbevisninger, job og civilstand. </p>
                	<p class="lg:w-5/12">Mennesker i alle aldre og med forskellige baggrunde samles på Kayak Bar – til koncerter, firmafrokosten, den uformelle fyraftensøl, eller noget helt andet. Her finder du altid en tilbagelænet- og god stemning. </p>
                	<p class="lg:w-5/12">Vores stamkunder arbejder på Christiansborg, står i lære som blikkenslager eller langt hjemmefra som turist i København, og vi elsker det.</p>
           
				</div>
 </div>

            <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
            <div class="relative">
                <!-- Background Image as Div -->
                <div class="absolute inset-0 -z-10">
                    <img class="w-full h-full object-cover" src="palmtree_1_mobil.svg" alt="">
                </div>
                <div class="relative z-10">
                    <h2 class="text-6xl lg:text-8xl">Fællesskab</h2>
                    <p class="lg:w-5/12">Vi har fokus på genbrug og bæredygtighed og vores omgivelser bærer præg af det: Kayak Bar er et rustikt og skævt sted med bænke bygget af europaller og andre lidt pudsige møbler.</p>
                    <p class="lg:w-5/12">Når der er tryk på – og det er der heldigvis rigtig tit – beder vi jer derfor om at give en hånd med. For eksempel ved, at du som restaurantgæst selv henter din mad, når den er klar. </p>
                    <p class="lg:w-5/12">Og frem for alt: Pas godt på vandet! Sørg for at cigaretskodder og andet affald havner i askebægere og skraldespande og ikke i vores smukke kanal – så er det rarere for os alle sammen at være her.</p>
                </div>
            </div>
            <img class="py-20 px-8 lg:px-64 lg:py-40" src="line.svg" alt="">
            <div>
                <h2 class="text-6xl lg:text-8xl">Kontakt os</h2>
                <p>Har du spørgsmål til os har mulighed for at kontakte os her!</p>
            </div>
        </div>
    </main>
</MainLayout>