---
import '../styles/tailwind.css';
---
<span class="bg-surface-badge p-2 sm:p-4 md:p-6 lg:p-8 rounded shadow shadow-surface-badge_shadow/60 absolute top-6 right-8 sm:top-14 sm:right-14 md:right-24 z-10"><p class="font-['Staatliches'] text-tekst-secondary-darker text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl text-center leading-snug">KAYAK BAR TILBYDER EN <br> ALSIDIG MENU MED <br> VEGETARISKE MULIGHEDER</p></span>