---
const { variant= ["primary"], size = ["medium"]} = Astro.props; 
const buttonStyling = "rounded-md text-link-default"; 
const variantClasses = {

"primary": "bg-knap-primary-default hover:bg-knap-primary-hover active:bg-knap-primary-pressed",
"secondary": "bg-knap-secondary-default hover:bg-knap-secondary-hover active:bg-knap-secondary-pressed",

};
const sizeClasses = {

"small": "px-6 py-2 text-xs",
"medium": "px-10 py-4 scale-150 text-lg",
"large": "px-12 py-8 scale-150 text-lg",

};

---
<div>
    <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>