<div class="bg-surface-footer m-auto px-10 pt-16 pb-16 text-tekst-tertiary-darker">
    <div class="grid gap-10 pl-6 pb-12 lg:grid-cols-3 lg:w-10/12 lg:gap-2 lg:pl-20 lg:pt-14">
       <div >
        <h4>Kontakt os</h4>
        <div class="grid gap-3">
            <div >
                <p>Børskaj 12</p>
                <p>1221 København K</p>
            </div>
            <div>
                <p>+45 3257 8383</p>
            </div>
        </div>

    </div>
    <div>
        <h4>Åbningstider</h4>
                <div class="grid gap-3">
            <div >
                <p>Mandag - Onsdag</p>
                <p>08:30 - 23:00</p>
            </div>
            <div>
                <p>Torsdag - Lørdag</p>
                <p>08:30 - 01:00</p>
            </div>
            <div>
                <p>Søndag </p>
                <p>08:30 - 16:00</p>
            </div>
        </div>
    </div>



    <div>
        <h4>Praktisk</h4>
        <ul class="">
            <li><a href="/bookingformular1.astro">
                <p>Book bord</p>
            </a></li>
            <li><a href="/index.astro">
                <p>Selskaber</p></a></li>
            <li><a href="/">
                <p>Firma</p></a></li>
             <li><a href="/">
                <p>Events</p></a></li>           
              <li><a href="/">
                <p>Kajak</p></a></li>  
             <li><a href="/">
                <p>Gavekort</p></a></li>  
             <li><a href="/">
                <p>Job</p></a></li>  
             <li><a href="/">
                <p>Kontrolrapport</p></a></li>  
        </ul>
    </div>

    </div>
 
    <div class="py-10 grid justify-center  md:grid-cols-2 md:justify-between  md:justify-self-center">
        <div class="grid grid-cols-2 gap-4 w-32 justify-self-center  md:justify-self-start md:w-40 md:gap-8 lg:ml-20">
            <a href="https://www.instagram.com/kayakbar/"><img src="/instagram.svg" alt="instagram"></a>
            <a href="https://www.facebook.com/kayakbarcph"><img src="/facebook.svg" alt="facebook"></a>
        </div>
        <a href="/">
            <img class="px-2 md:justify-self-end md:mr-10 w-64 md:w-5/12" src="/logo_footer.svg" alt="">
        </a>
    </div>

</div>