---
import '../styles/tailwind.css';
import 'animate.css';
---
<header>
    <div>
        <nav>
            <ul>
                <li><a href="/">Forside</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/Om">Om Kayak Bar</a></li>
            </ul>
        </nav>
    </div>
</header>