---
---
<div class="bg-card-default hover:bg-card-hover active:bg-card-pressed text-tekst-tertiary-default hover:text-tekst-tertiary-hover active:text-tekst-tertiary-pressed shadow-md shadow-surface-secondary-default hover:shadow-surface-highlight-hover active:shadow-surface-highlight-pressed rounded grid place-items-center px-11">
    <img class="h-40 mt-20 mb-5 sm:mb-10" src="mad.svg" alt="">
    <img class="w-2/3 mb-8 md:mb-10" src="card_streg.svg" alt="">
    <h3 class="text-5xl lg:text-6xl mb-5">MAD</h3>
    <p class="font-['Londrina_Solid'] text-tekst-accent-lighter hover:text-tekst-accent-default active:text-tekst-accent-darker text-base lg:text-lg mb-14">Se vores menukort</p>
</div>