---
import '../styles/tailwind.css';
import Link from "../components/Link.astro";

---

<form method="get" target="_blank" class=" mx-auto py-6 px-8 w-10/12 lg:w-8/12 lg:px-48 lg:py-16 bg-surface-formular mt-10">
  <p class="text-tekst-tertiary-darker">
    Hej, mit navn er 
    <label class="relative mx-1 bg-tekst-tertiary-darker/10 py-1 lg:py-2">
      <input type="text" id="name-input" name="name" placeholder="dit navn" class="input text w-32 lg:w-44 mx-1 bg-transparent border-none"/>
      <span class="absolute bottom-0 left-0 right-0 h-1"></span>
    </label>
    og min henvendelse drejer sig om
    <select id="topic-input" name="topic" class="input text w-48 bg-tekst-tertiary-darker/10 py-1  mx-1 border-none">
      <option value="" disabled selected>Vælg emnet</option>
      <option value="Selskab">Selskab</option>
      <option value="Møde">Møde</option>
      <option value="Teambuilding">Teambuilding</option>
      <option value="Events">Events og koncerter</option>
      <option value="Kajak">Kajak</option>
    </select>
    . Skriv til mig på mailen 
    <label class="relative mx-1 bg-tekst-tertiary-darker/10 py-1 lg:py-2">
      <input type="text" id="email-input" name="email" placeholder="din email" class="input text w-32 lg:w-44 bg-transparent border-none"/>
      <span class="absolute bottom-0 left-0 right-0 h-1"></span>
    </label>
  
    ,
    eller ring til mig på nr. 
    <label class="relative mx-1 bg-tekst-tertiary-darker/10 py-1 lg:py-2">
      <input type="text" id="phone-input" name="phone" placeholder="dit telefonnummer" class="input text w-32 lg:w-44 bg-transparent border-none"/>
      <span class="absolute bottom-0 left-0 right-0 h-1"></span>
    </label>
    .
  </p>
  <p class="text-tekst-tertiary-darker mt-6">
    Andet I skal vide:
  </p>
  <p class="text-tekst-tertiary-darker">
    <label class="relative mx-1 bg-tekst-tertiary-darker/10 p-1 pb-10">
      <input type="text" id="besked-input" name="besked" placeholder="andet" class="input text w-60 lg:w-11/12 lg:py-2 bg-transparent py-1 mb-10 border-none"/>
      <span class="absolute bottom-0 left-0 right-0 h-1"></span>
    </label>
  </p>

  <div class="m-10 md:my-8 md:ml-1">
    <Link variant="secondary" size="medium" class="">Send</Link>
  </div>
</form>



<style>
/* .input {
  @apply bg-transparent border-none focus:border-none focus:outline-none;
} */


</style>
