---
---
<section x-data="{ allenavigationscards: []}" x-init="allenavigationscards = await (await fetch('navigationscard.json')).json(); allenavigationscards.reverse();" class="mb-10 mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
  <template x-for="(navigationscard, index) in allenavigationscards.slice(0, 4)" :key="index">
    <a href="#" class="flex justify-center gap-4 mb-1">
      <article class="bg-card-default hover:bg-card-hover rounded-lg overflow-hidden shadow-lg mb-10 min-w-200">
        <img :src="navigationscard.cardbillede" :alt="navigationscard.cardbilledealt" class="object-cover h-72 w-full">
        <section class="navigationscard mb-20 mt-8 px-8">
          <h3 class="text-tekst-tertiary-default font-semibold mb-2" x-text="navigationscard.cardoverskrift"></h3>
          <img src="card_streg.svg" alt="streg på card">
          <p class="text-tekst-tertiary-darker" x-text="navigationscard.cardbeskrivelse"></p>
          <p class="text-tekst-accent-default">Læs mere</p>
        </section>
      </article>
    </a>
  </template>
</section>
