---
import '../styles/tailwind.css';
import 'animate.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&family=Londrina+Solid:wght@100;300;400;900&family=Staatliches&display=swap" rel="stylesheet">
	</head>
	<body class="bg-surface-primary-default">

		<header class="max-w-5xl mx-auto px-4">
			<Header></Header>
		</header>
		
		<main class="">
			<slot />
		</main>

		<footer class="max-w-5xl mx-auto px-4">
			<Footer></Footer>
		</footer>
			
	</body>
</html>